//modal for template deletion confirmation
.modal.fade#delete-template(tabindex="-1", role="dialog", aria-labelledby="deleteTemplate", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button(type="button", class="close", data-dismiss="modal")
					span(aria-hidden="true") &times;
				h4.modal-title#delete-template= t('modals.deleteTemplate')
			.modal-body
				.body-content-wrapper
					span.padding-left-30.placeholderText= t("modals.deletePrompt")
					span.margin-left-5.placeholderText.templateName= '"' + t("modals.template1") + '"'
					span.placeholderText= "?"
			.modal-footer
				.btns-div
					each val in [['modals.cancel','#'],['modals.confirm', '#']]
						a(href=val[1], class="btn btn-default", id=t(val[0]))= t(val[0])