//modal for use template
.modal.fade#use-template(tabindex="-1", role="dialog", aria-labelledby="useTemplate", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button(type="button", class="close", data-dismiss="modal")
					span(aria-hidden="true") &times;
				h4.modal-title#usetemplate= t('modals.usetemplate')
			.modal-body
				.body-content-wrapper
					// include the search bar
					include ele-searchbar.jade
					//to display the available templates
					.templates-div.margin-top-15
						- var templateContent = template
							each content in templateContent
								.templates-row(onclick="useTemplateClick(this);")
									span.template-title= content[0]
									p.template-item= content[1].substr(0, 50) + '...'
					// pagination div	
					.pagination-div
			.modal-footer
				.btns-div
					each val in [['modals.cancel','#'],['modals.use', '#']]
						a(href=val[1], class="btn btn-default", id=t(val[0]))= t(val[0])