// modal for add from contacts
.modal.fade#fromContacts(tabindex="-1", role="dialog", aria-labelledby="addfromContacts", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button(type="button", class="close", data-dismiss="modal")
					span(aria-hidden="true") &times;
				h4.modal-title#addfromContacts= t('modals.addfromcontacts')
			.modal-body
				.selectSearch-div
					.row
						// group dropdown
						.col-xs-6.dropdowns-div
							select(class="groupPicker")
								- var groups = contactGroup
								each group in groups
									option= group
						// search contact
						.col-xs-6.modal-searchbar
							include ele-searchbar.jade
				// contacts list
				.contacts-list
					form#addFromContactsForm
						.row.contactsHeader
							input.col-xs-1(type="checkbox", name="selectAll", data-bv-notempty data-bv-notempty-message="Select All", id="selectAllBox")
							span.col-xs-3= t('modals.selectall')
						- var contactsList = contacts
						each contact in contactsList
							.row.contactsItem
								label.cotrol-label.check-group
									.custom-checkbox
									input.sr-only.pull-left.reset-margin.col-xs-1(type="checkbox", name="longGroupName", value="check")
								span.col-xs-3= contact[0]
								span.col-xs-5.col-xs-offset-3= contact[1]
				// pagination for the contacts modal 
				.pagination-div
					script(type='text/javascript').
						var totalPage = !{JSON.stringify(totalPage)};
						var currentPage = !{JSON.stringify(currentPage)};
					script(src="/js/custom-m800-js/generate-pagination.js")
			.modal-footer
				.btns-div
					each val in [['modals.cancel','#'],['modals.confirm', '#']]
						a(href=val[1], class="btn btn-default", id=t(val[0]))= t(val[0])