.row.help-content-div.padding-left-30.padding-right-30
	.col-xs-12.margin-top-30
		form.form-inline
			.form-group
				.input-group
					input.form-control.search-input(type="text" placeholder= t('helpPage.searchHelp'))
					span.input-group-btn
						button.btn.btn-default.search-btn
							span.glyphicon.glyphicon-search
	.clearfix						
	.row.margin-left-15.margin-top-30.margin-bottom-30.help-thumbnails
		a(href='#')
			.col-md-4.text-center.help-box
				h4= 'Guide to create new SMS'
				img.margin-top-15(src="img/new-sms.png" alt="")
		a(href='#')
			.col-md-4.text-center.help-box
				h4= 'What is Validating?'
				img.margin-top-15(src="img/settings.png" alt="")
		a(href='#')
			.col-md-4.text-center.help-box
				h4= 'About schedule SMS'
				img.margin-top-15(src="img/calendar.png" alt="")
	.row.margin-top-30.margin-bottom-15.faq-div
		.col-md-12.pull-left.margin-left-15.margin-top-15
			h4= 'FAQ'
		.col-md-4.margin-left-15.questions
			p 
				a(href='#') Lorem ipsum dolor sit amet, graece pericula tractatos vel eu?
			p
				a(href='#') Lorem ipsum dolor sit amet, graece pericula?
			p
				a(href='#') Lorem ipsum dolor sit amet, graece pericula tractatos?
			p
				a(href='#') How do I change my password?
		.col-md-4.col-md-offset-2.questions
			p 
				a(href='#') Lorem ipsum dolor sit amet, graece pericula tractatos vel eu?
			p
				a(href='#') Lorem ipsum dolor sit amet, graece pericula?
			p
				a(href='#') Lorem ipsum dolor sit amet, graece pericula tractatos?
			p
				a(href='#') How do I change my password?	
	.row.margin-top-15.support-div.margin-bottom-15
		.col-md-12.pull-left.margin-left-15.margin-top-15
			h4= 'Support'
			p Customer service
				span.email 
					a(href='#') noc@m800.com									