//modal for websms Contacts assign to group
.modal.fade.contact-modal#modal-assign-to-group(tabindex="-1", role="dialog", aria-labelledby="contactsTemplate", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button(type="button", class="close", data-dismiss="modal")
					span(aria-hidden="true") &times;
				h4.modal-title#usetemplate Assign To Group
			.modal-body 
				.content-wrapper.container
					.row
						.col-xs-12.padding-left-30.padding-right-30
							h4= 'Please select groups ( Multiple )'
					form.row.form-horizontal#assignToGroupForm(action="", method="post")
						input.sr-only#assignToGroup(type="submit", name="assignToGroup", value="assignToGroup")
						.col-xs-12.padding-left-30.padding-right-30
							.multiple-options-wrapper.custom-scrollbar-y
								.row.reset-margin
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'	
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'	
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'	
								.row.reset-margin
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'	
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'	
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'	
								.row.reset-margin
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'	
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'	
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'		
								.row.reset-margin
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'	
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'	
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'		
								.row.reset-margin
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'	
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'	
									.col-xs-4
										label.control-label.check-group
											.custom-checkbox
											input.sr-only.pull-left.reset-margin(type="checkbox", name="longGroupName", value="check") 
											span.pull-left= 'Long Group Name'	
			.modal-footer
				.btns-div
					a(href="#", class="btn btn-default", id=t('modals.cancel'), data-dismiss="modal")= t('modals.cancel')
					label(for="assignToGroup", class="btn btn-default", id=t('modals.import'))= t('modals.import')
					
					
