form.form-horizontal#profile-password.profile-information(action="/profile/change-password", method="POST", role="form")
	
	label.reset-padding.margin-left-30.col-xs-12(for="#oldPassword")= t('profilePage.current')
	.form-group.current-password
		.col-xs-4.margin-left-30
			input#oldPassword.form-control(type="password", name="oldPassword", data-toggle="popover", data-placement="right", data-content=t('profilePage.incorrectPassword'), placeholder=t('profilePage.currentPassword'))
	
	label.reset-padding.margin-left-30.col-xs-12(for="#newPassword")= t('profilePage.new')
	.form-group.padding-bottom-10.new-password
		.col-xs-4.margin-left-30
			input#newPassword.form-control(type="password", name="newPassword", data-toggle="popover", data-placement="right", data-content=t('profilePage.useatleast'),  placeholder=t('profilePage.newPassword'))
	.form-group.margin-left-30.confirm-password
		.col-xs-4.margin-left-30
			input.form-control#confirmPassword(type="password", name="confirmPassword", data-toggle="popover", data-placement="right", data-content=t('profilePage.passwordNotMatch'), placeholder=t('profilePage.reEnterPassword'))
	
	hr.separator.change-password
	
	.form-group.button-div
		.col-xs-6.reset-padding
			input.btn-custom.btn.btn-pale-blue.margin-right-30(type="reset", value="Discard Changes")
			input.btn-custom.btn.btn-pale-red(type="submit", name="saveNewPassword", value="Save")