extends layout

block content
	include ele/ele-header.jade
	.container.mainContent-container
		.row
			include ele/ele-left-menu-links.jade
			.right-content.col-xs-9
				.overview-content.newSMS.sprites-holder
					include ele/ele-newSMS-upper-right.jade
					.dropdowns-div.pull-left.padding-left-30.padding-right-30
						.textLeft.pull-left
							h4= t('newSMS.enterTaskName')
							span.optionalGrey= t('newSMS.optional')
							.sprites.circled-question-sign.pull-left#question-mark(data-container="body", data-toggle="popover", data-content='<div class="question-hint"><span><strong>Where is the CSC or CSV?</strong></span><br/><p>The card security code is located on the back of MasterCard, Visa</p></div>')
						.recipientTextArea
							input(type="text", class="form-control", placeholder="Recipient Number")
					.graph-div.pull-left
						#newSMS-content.padding-left-30.padding-right-30
							h4= t('newSMS.choose')
							- var smsArr = [['/new/simple','newSMS.simpleTitle','sms-simple-icon', 'newSMS.contentSimple'], ['/new/excel','newSMS.excelTitle','sms-excel-icon', 'newSMS.contentExcel'], ['/new/merger','newSMS.mergerTitle','sms-merger-icon', 'newSMS.contentMerger']]
							.row
								each smsVal in smsArr
									.smsboxwrapper.col-xs-4
										.smsbox.clearfix
											a(href=smsVal[0])
												h5= t(smsVal[1])
												img(src="/img/" + smsVal[2] + ".png")
												p= t(smsVal[3])
										if smsVal[0] === '/new/excel'
											a(href="#")= t('newSMS.downloadTemplate')
										if smsVal[0] === '/new/merger'
											a(href="#")= t('newSMS.downloadTemplate')
				// if lt IE 9
					.sprites.rounded-corner.top-right-white
					.sprites.rounded-corner.top-left-white
					.sprites.rounded-corner.bottom-left-white
					.sprites.rounded-corner.bottom-right-white
	include ele/ele-footer.jade